- @title = "Your Conversations"
.container-fluid
  .row
    .col-4
      = render partial: "partials/conversations", locals: {conversations: @conversations}
    .col-8
      .card#conversation
        - if params[:to_id].present?
          .card-header.d-flex.justify-content-center
            %h5= @user.full_name
          .card-body
            .row
              .col-12
                .alert.alert-info.w-100.d-flex.justify-content-center
                  No messages yet.
          .card-footer
            = form_with scope: :message, url: params[:to_id].present? ? conversations_path(to_id: @user.id) : conversation_path(@conversation), method: :post, local: true do |form|
              .row
                = render partial: "messages/form", locals: {form: form}
