- @title = "Your Conversations"
.container-fluid
  .row
    .col-4
      .list-group#conversations
        - if @conversations_with_users.present?
          - @conversations_with_users.conversations.each do |conversation|
            = render partial: "partials/conversation", locals: {conversation: conversation}
        - else
          .alert.alert-info
            No past conversations found.
    .col-8
      .card#conversation
        - if params[:to_id].present?
          .card-header.d-flex.justify-content-center
            %h5= @conversation.name
          .card-body
          .card-footer
