<% if flash[:success].present? %>
	<div class="alert alert-success flash-message" role="alert">
		<%= flash[:success] %>
	</div>
<% elsif flash[:error].present? %>
	<div class="alert alert-danger flash-message" role="alert">
		<%= flash[:error] %>
	</div>
<% end %>