// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container-fluid {
	padding-top: 30px;
	padding-bottom: 30px;
}

.container {
	padding-top: 30px;
	padding-bottom: 30px;
}

.img-container {
	width: 220px !important;
}